.question{
    display: flex;
    flex-direction: column;
    color: #293264;
    width: 100%;
    h2{
        font-family: 'Karla', sans-serif;
        font-size: .8rem;
        font-weight: 700;
    }
    .answer--wrapper{
        display: flex;
        gap: .5em;
        padding: .1em 0;
        .answer{
            border: 1px solid #4D5B9E;
            background: rgba($color: #000000, $alpha: .06);
            cursor: pointer;
        }
        .answer p{
            font-size: .6rem;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
            padding: 0.5em 1em;
            margin: 0;
        }
    }
    hr{
        width: 100%;
        border: none;
        border-bottom: 1px solid rgba($color: #000000, $alpha: .2);
        margin-top: 1em;
    }
}